
#requireResource("EyaaEyaa.TreeMindMap:TreeMindMap-resources")

<div>
    <div id="${key}"></div>
    <script type="text/javascript">
        AJS.toInit(function () {
            //Render Data
            TreeMindMapLibrary.RenderReadOnly('${url}', '${key}');
            })
    </script>
</div>